<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <title>To Do List</title>
</head>
<body>

    <div class="ui fixed inverted menu">

        <a href="/" class="header item">Accueil</a>

    </div>

    <div class="ui main container">

        <% if (locals.error) { %>
            
            <div class="ui negative message">
                
                <%= error %>
                
            </div>
    
            <%  } %>