<%- include('header') %>
<br>
<br>
<br>
<br>


<%  if(locals.data) { %>

<h1> Voici votre todolist !</h1>

<%  for (let i = 0; i<locals.data.length;i++) { 
    if(locals.data[i].done == false) { %>
<li> <%= locals.data[i].text %> <a href="/?del=<%= locals.data[i].todo_id %>"><i class="icon remove"></i></a> </li>
<% }} %>

<form action="/" method="get" class="ui form">

<div class="field">

    <label for='message'>Ajouter quelquechose à faire</label>

    <input type="text" name="add" id="add"></input>

</div>

<button type="submit" class="ui blue labeld submit icon button">

    Envoyer

</button>

</form>

<a href="/disconnect"><button class="ui blue labeld submit icon button">

    Déconnexion

</button></a>

<% } else {%>

<h1>Connexion</h1>

<form action="/" method="post" class="ui form">

    <div class="field">

        <label for='message'>Username</label>

        <input type="text" name="username" id="username"></input>

        <label for='message'>Password</label>

        <input type="password" name="psswrd" id="psswrd"></input>

    </div>

    <button type="submit" class="ui blue labeld submit icon button">

        Envoyer

    </button>

</form>
<% }  %>

<%- include('footer') %>