<%- include('header') %>
<br>
<br>
<br>
<br>
<form action="/" method="post" class="ui form">

    <h1>Connexion</h1>

    <div class="field">

        <label for='message'>Username</label>

        <input type="text" name="username" id="username"></input>

        <label for='message'>Password</label>

        <input type="password" name="psswrd" id="psswrd"></input>

    </div>

    <button type="submit" class="ui blue labeld submit icon button">

        Envoyer

    </button>

</form>

<%- include('footer') %>