<%- include('header') %>
<br>
<br>
<br>
<br>
<form action="/" method="post" class="ui form">

    <h1>Connexion</h1>

    <div class="field">

        <label for='message'>Username</label>

        <input type="text" name="username" id="username"></input>

        <label for='message'>Password</label>

        <input type="password" name="psswrd" id="psswrd"></input>

    </div>

    <button type="submit" class="ui blue labeld submit icon button">

        Envoyer

    </button>

</form>

<%  if(locals.data) { %>
    

<%  for (let i = 0; i<locals.data.length;i++) { 
    if(locals.data[i].done == false) { %>
<li> <%= locals.data[i].text %> <a href="/?del=<%= locals.data[i].todo_id %>"><i class="icon remove"></i></a> </li> 
<% }} %>

<% } %>



<%- include('footer') %>